/DW4JServicios/build/
/DW4JServicios/dist/

/DW4JLib/build/
/DW4JLib/dist/

/DW4JDesktop/build/
/DW4JDesktop/dist/
/DW4JDesktop/log/

/PDFRenderer/dist/
/PDFRenderer/build/

/mmsc/dist/
/mmsc/build/
/DW4JWebJSF/build/
/ServicioDW4J/target/
/seniat/dist/
/seniat/build/