<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>Servicios del Gestor Documental dw4j</display-name>
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Utilitario</servlet-name>
        <servlet-class>com.develcom.tools.Utilitario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Foliatura</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AdministracionAgregar</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AdministracionModifica</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Autentica</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>IndicesExpediente</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AdministracionBusquedas</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>BusquedaExpediente</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Archivo</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Documento</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>CalidadDocumento</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Expediente</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>EliminaDocumento</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Mantenimientos</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>DatosExternos</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Utilitario</servlet-name>
        <url-pattern>/Utilitario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Foliatura</servlet-name>
        <url-pattern>/Foliatura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministracionAgregar</servlet-name>
        <url-pattern>/AdministracionAgregar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministracionModifica</servlet-name>
        <url-pattern>/AdministracionModifica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Autentica</servlet-name>
        <url-pattern>/Autentica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndicesExpediente</servlet-name>
        <url-pattern>/IndicesExpediente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministracionBusquedas</servlet-name>
        <url-pattern>/AdministracionBusquedas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusquedaExpediente</servlet-name>
        <url-pattern>/BusquedaExpediente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Archivo</servlet-name>
        <url-pattern>/Archivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Documento</servlet-name>
        <url-pattern>/Documento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalidadDocumento</servlet-name>
        <url-pattern>/CalidadDocumento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Expediente</servlet-name>
        <url-pattern>/Expediente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminaDocumento</servlet-name>
        <url-pattern>/EliminaDocumento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mantenimientos</servlet-name>
        <url-pattern>/Mantenimientos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatosExternos</servlet-name>
        <url-pattern>/DatosExternos</url-pattern>
    </servlet-mapping>
    <resource-ref>
        <res-ref-name>dsDW4J</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
